body{
    margin: 0;
    padding: 0;
    background: #d8d8d8;
    font-family: 'Josefin Sans', sans-serif;
}

nav
{
    width: 100%;
    background: #fffbfb;
}
ul{
    width: 80%;
    margin: 0 auto;
    padding: 0;
}
ul li{
    list-style: none;
    display: inline-block;
    padding: 20px;
}
ul li:hover{
    background: #c3e5f2;
}
ul li a {
    color: #17517c;
    text-decoration: none;
}
.wrapper{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.container{
    width: 500px;
    height: 550px;
    background: #fff;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.container .profile-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    top: -77px;
    left: 175px;
    border: 7px solid #17517c;
}
.content{
    padding: 80px 30px 30px;
}
.content .sub-content{
    text-align: center;
}
.content .sub-content h1{
    text-transform: uppercase;
    font-size: 27px;
    color: #17517c;
}
.content .sub-content span{
    font-size: 17px;
    color: #1da0f1;
}
.content.sub-content2{
    text-align: left;
}
.sub-content2 span{
    margin-top: 15px;
    font-size: 20px;
    font-weight: 400;
    color: #1da0f1;
}
.data{
    width: 100%;
    overflow: hidden;
    margin: 30px 0 20px;
}
.inner-data{
    width: 33.3%;
    float: left;
    text-align: center;
}
.inner-data span .fa{
    font-size: 30px;
    margin-bottom: 5px;
    color: #1da1f2;
}














.buttonFollow {
    display: inline-block;
    border-radius: 4px;
    background-color: #0097f4;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.buttonFollow span {
    font-family: srinakharinwirot , sans-serif;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.buttonFollow span:after {
    content: '+';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.buttonFollow:hover span {
    padding-right: 25px;
}

.buttonFollow:hover span:after {
    opacity: 1;
    right: 0;
}


.buttonUnFollow {
    display: inline-block;
    border-radius: 4px;
    background-color: #e0e0e0;
    border: none;
    color: #242424;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.buttonUnFollow span {
    font-family: srinakharinwirot , sans-serif;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.buttonUnFollow span:after {
    content: '⊝';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.buttonUnFollow:hover span {
    padding-right: 25px;
}

.buttonUnFollow:hover span:after {
    opacity: 1;
    right: 0;
}



.buttonMessenger {
    display: inline-block;
    border-radius: 4px;
    background-color: #e0e0e0;
    border: none;
    color: #242424;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.buttonMessenger span {
    font-family: srinakharinwirot , sans-serif;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.buttonMessenger span:after {
    content: '➤';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.buttonMessenger:hover span {
    padding-right: 25px;
}

.buttonMessenger:hover span:after {
    opacity: 1;
    right: 0;
}


.buttonHistory {
    display: inline-block;
    border-radius: 4px;
    background-color: #d14244;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.buttonHistory span {
    font-family: srinakharinwirot , sans-serif;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.buttonHistory span:after {
    content: '↻';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.buttonHistory:hover span {
    padding-right: 25px;
}

.buttonHistory:hover span:after {
    opacity: 1;
    right: 0;
}


.buttonEditProfile {
    display: inline-block;
    border-radius: 4px;
    background-color: #e0e0e0;
    border: none;
    color: #242424;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 310px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.buttonEditProfile span {
    font-family: srinakharinwirot , sans-serif;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.buttonEditProfile span:after {
    content: '✎';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.buttonEditProfile:hover span {
    padding-right: 25px;
}

.buttonEditProfile:hover span:after {
    opacity: 1;
    right: 0;
}

