body{
    margin: 0;
    padding: 0;
    font-family: srinakharinwirot , sans-serif;


}
nav
{
    width: 100%;
    background: #fffbfb;
}
ul{
    width: 80%;
    margin: 0 auto;
    padding: 0;
}
ul li{
    list-style: none;
    display: inline-block;
    padding: 20px;
}
ul li:hover{
    background: #c3e5f2;
}
ul li a {
    color: #17517c;
    text-decoration: none;
}

.postBox{
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 700px;
    height: 150px;
    padding: 10px 10px ;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.5);
}
.findsBox{
    position: absolute;
    top: 280px;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 700px;
    height: 100px;
    padding: 20px 10px ;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.5);
}
.evenBox{
    position: absolute;
    top: 448px;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 700px;
    height: 220px;
    padding: 20px 10px ;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.5);
}
.btn{
    clear: both;
    text-align: center;
    width: 150px;
    height: 35px;
    background: #17517c;
    color: #ffffff;
    line-height:38px;
    cursor: pointer;
    border-radius: 50px;
}
.our-team {
    padding: 30px 0 40px;
    margin-bottom: 30px;
    background-color: #ffffff;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.our-team .picture {
    display: inline-block;
    height: 150px;
    width: 150px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
}
.our-team .picture::before {
    content: "";
    width: 100%;
    height: 0;
    border-radius: 50%;
    background-color: #1369ce;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 0.9;
    transform: scale(3);
    transition: all 0.3s linear 0s;
}
.our-team:hover .picture::before {
    height: 100%;
}
.our-team .picture::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #1369ce;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.our-team .picture img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
}
.our-team:hover .picture img {
    box-shadow: 0 0 0 14px #ffffff;
    transform: scale(0.7);
}
.our-team .title {
    display: block;
    font-size: 15px;
    color: #4e5052;
    text-transform: capitalize;
}
.our-team .social {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #1369ce;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
}
.our-team:hover .social {
    bottom: 0;
}
.our-team .social li {
    display: inline-block;
}
.our-team .social li a {
    display: block;
    padding: 10px;
    font-size: 17px;
    color: white;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}
.our-team .social li a:hover {
    color: #1369ce;
    background-color: #ffffff;
}
.box{
    position: absolute;
    top: 790px;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 700px;
    height: 450px;
    padding: 20px 10px ;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.5);
}
.postDriverPassengerBox{
    position: absolute;
    top: 1473px;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 700px;
    height: 900px;
    padding: 20px 10px ;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.5);
}
.psPassenger{
    position: absolute;
    top: 193%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 650px;
    height: 700px;
    padding: 20px 10px ;
    box-sizing: border-box;



}

.psPassenger .profile-img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.psDriverBox{
    position: absolute;
    top: 203%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    height: 225px;
    padding: 20px 10px ;
    box-sizing: border-box;
    background: rgba(101, 255, 153, 0.5);
}
.psDriverBox .profile-img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.psPassenger2{
    position: absolute;
    top: 236%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    height: 225px;
    padding: 20px 10px ;
    box-sizing: border-box;
    background: rgba(118, 224, 255, 0.5);
}
.psPassenger2 .profile-img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}